{% extends "group-base.html" %}


{% block group_base_left_body %}

{% set group = doc['group'] %}
{% set member_type = group['member_type'] %}
{% set member_list = doc['member_list'] %}
{% set user = doc['user'] %}

<div id="body_content">

    <!-- for member -->
    <div class="group_content follow" style="background:none;">
    <div class="group_nav group_member_img"><span>成员</span></div>
    <div class="div-20"></div>
    <ul>
    {% for item in member_list %}
        <li>
        <div class="follow_one">
        <img src="{{ item['thumb'] }}"/>
        <div class="info">
        <span class="name"><a href="/bloger/{{ item['uid'] }}" target="_blank">{{ item['name'] }}</a></span>
        {% if user  and user['uid'] == item['uid'] %}
            <span class="control">我自己</span>
        {% else %}
            {% if not item['isfollow'] %}
            <span class="control"><a href="javascript:void(0);" do="follow" onclick="do_follow(this);" follow_id="{{ item['uid'] }}">关注</a></span>
            {% else %}
            <span class="control"><a href="javascript:void(0);" do="unfollow" onclick="do_follow(this);" follow_id={{ item['uid'] }}>取消关注</a></span>
            {% end %}
        {% end %}
        </div>
        </div>
        </li>
    {% end %}
    
    </ul>
    {{ doc['paging_html'] }}
    </div>







</div>
{% end %}
