{% extends "group-base.html" %}

{% block css_link_group_write %}
<link rel="stylesheet" type="text/css"  href="{{ static_url("css/me/write.css") }}"/>
{% end %}


{% block group_base_left_body %}
<div id="body_content">

<div class="group_content">


<div class="group_nav group_write_img">
<span>
{% if edit == 'false' %}
    {{ {"doc": "写新文档", 'notice': '写新公告', 'feedback': '反馈', 'info': '编辑关于小组', 'topic': '写新话题'}[article_type] }}
{% else %}
    {{ {"doc": "修改文档", 'notice': '修改公告', 'feedback': '修改反馈', 'info': '编辑关于小组', 'topic': '修改话题'}[article_type] }}
{% end %}&nbsp;- &nbsp;{{ group.name }}小组
</span>
</div>

<div class="group_write_area">
{% if article_type == 'info' %}
    
    <textarea id="write_textarea" class="self-intro-text">{{ group.about_body }}</textarea>
    <button class="self-intro-button">确认修改</button><span class="self-info-process">&nbsp;</span>
    <div class="div-20"></div>
{% else %}
    {% if edit == 'false' %}
        <input type="text" name="title" id="group_write_title" autocomplete="off" />
        <textarea id="write_textarea" class="self-intro-text"></textarea>
        {% if article_type == "doc" %}
        <div id="group_write_class">
            {% for item in tag_list %}
                <label><input type="checkbox" name="classes" value="{{ item }}" />{{ item }}</label>    
            {% end %}    
        </div>
        {% end %}
        <button class="self-intro-button">提交</button><span class="self-info-process">&nbsp;</span>
        <div class="div-20"></div>
    {% else %}
        <input type="text" name="title" id="group_write_title" autocomplete="off" value="{{ article.title }}" />
        <textarea id="write_textarea" class="self-intro-text">{{ article.body }}</textarea>
        {% if article_type == "doc" %}
        <div id="group_write_class">
            {% for item in tag_list %}
                {% if item in article.tag %}
                    <label><input type="checkbox" name="classes" value="{{ item }}" checked="checked" />{{ item }}</label>   
                {% else %}
                    <label><input type="checkbox" name="classes" value="{{ item }}" />{{ item }}</label>  
                {% end %} 
            {% end %}    
        </div>
        {% end %}
        <button class="self-intro-button">确认修改</button><span class="self-info-process">&nbsp;</span>
        <div class="div-20"></div>
    {% end %}
{% end %}
</div>
</div>
</div>
{% end %}


{% block script_bottom %}

<script type="text/javascript" src="{{ static_url("js/jq/jquery.Jcrop.min.js") }}" ></script>
<script type="text/javascript" src="{{ static_url("js/me/login.js") }}" ></script>
<script type="text/javascript" src="{{ static_url("js/me/write.js") }}" ></script>
{% if article_type == "info" %}
    <script type="text/javascript" >
    $(document).ready(function(){
        //(art_id, art_type, art_con, father_id, father_type, group_id)
        $("#write_textarea").CreateEditor("-1","group-info",'', "0", "group-info", '{{ group._id }}');
        pic_lib = {{ json_encode(group.about_src_lib['picture_lib']) }};
        math_lib = {{ json_encode(group.about_src_lib['equation_lib']) }};
        table_lib = {{ json_encode(group.about_src_lib['tableform_lib']) }};
        ref_lib = {{ json_encode(group.about_src_lib['reference_lib']) }};
        code_lib = {{ json_encode( group.about_src_lib['langcode_lib'] ) }};
        $("#write_textarea").lib_init(pic_lib, math_lib, table_lib, code_lib, ref_lib);	       
    }); 
    </script>
{% else %}
    {% if edit== 'false'%}
        <script type="text/javascript" >
            $(document).ready(function(){
                $("#write_textarea").CreateEditor("-1","group-{{ article_type}}",'','0', "blog", "{{ group._id }}"); 
            });
        </script>
    {% else %}
        <script type="text/javascript" >
            $(document).ready(function(){
                $("#write_textarea").CreateEditor("{{ article._id }}","group-{{ article_type }}",'', "0",'group-{{ article_type }}', "{{ group._id }}");
                pic_lib = {{ json_encode(article.picture_lib) }};
                math_lib = {{ json_encode(article.equation_lib) }};
                table_lib = {{ json_encode(article.tableform_lib) }};
                ref_lib = {{ json_encode(article.reference_lib) }};
                code_lib = {{ json_encode( article.langcode_lib ) }};
                $("#write_textarea").lib_init(pic_lib, math_lib, table_lib, code_lib, ref_lib);	       
            }); 
        </script>
    {% end %}
{% end %}


{% end %}