{% extends "group-base.html" %}


{% block group_base_left_body %}

{% set group = doc['group'] %}
{% set feedback_list = doc['feedback_list'] %}
{% set member_type = group['member_type'] %}

<div id="body_content">
    
    <!-- for group feedback -->
    <div class="group_content">
    <div class="group_nav group_feedback_img"><span>反馈</span>
    {% if member_type is not None %}
        <span class="group_nav_right"><a href="/write?type=group-feedback&group={{ group['gid'] }}">写反馈</a></span>
    {% end %}
    </div>
    
    <ul class="like_style">
    {% for item in feedback_list %}
        <li><a href="/group/{{ group['gid'] }}/feedback/{{ item['aid'] }}">{{ item['title'] }}</a></li>
    {% end %}
    <!--
    <li><a href="#" >test</a></li> 
     <li><a href="#" >test</a></li> 
      <li><a href="#" >test</a></li>  -->  
    </ul>
    {{ doc['paging_html'] }}
    </div>


</div>
{% end %}
