{% extends "group-base.html" %}


{% block group_base_left_body %}

{% set group = doc['group'] %}
{% set member_type = group['member_type'] %}
{% set doc_list = doc['doc_list'] %}
{% set tag_list = group['tag_list'] %}

<div id="body_content">


    <!-- for group doc -->
    <div id="left4_board">
    <!--<div class="top_line">&nbsp;</div>-->
    <div class="board_con">
    {% if member_type == 'Manager' %}
        <span class="add_tag"><a href="javascript:void(0)" group_id="{{ group['gid'] }}">添加分类</a></span>
    {% end %}
    
    <span><a href="/group/{{ group['gid'] }}/doc?tag=default">所有</a></span>
    {% for item in tag_list %}
        <span><a href="/group/{{ group['gid'] }}/doc?tag={{ item }}">{{ item }}</a>
        {% if member_type == 'Manager' %}
            <a href="javascript:void(0)" class="del_tag" tag="{{ item }}" group_id="{{ group['gid'] }}">删除</a>
        {% end %}
        </span>
    {% end %}   
    </div>
    
    </div>
    <div class="group_content">
    <div class="group_nav group_doc_img"><span>文档</span>
    {% if member_type == 'Manager' %}
        <span class="group_nav_right"><a href="/write?type=group-doc&group={{ group['gid'] }}">写文档</a></span>
    {% end %}
    </div>
    <ul class="like_style">
    {% for item in doc_list %}
        <li><a href="/group/{{ group['gid'] }}/doc/{{ item['aid'] }}">{{ item['title'] }}</a></li>
    {% end %}
    {#
    <li><a href="#" >test</a></li> 
     <li><a href="#" >test</a></li> 
      <li><a href="#" >test</a></li>    
    #}
    </ul>
    {{ doc['paging_html'] %}
    </div>
    


</div>
{% end %}
