{% extends "base.html" %}

{% block css_link %}
<link rel="stylesheet" type="text/css" href="{{ static_url('css/me/group.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ static_url('css/me/blog.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ static_url('css/me/write.css') }}" />
{% block css_link_group_write %}

{% end %}

{% end %}

{% block middle_body %}


<div id="left4">

<div id="left4_nav_top">
<div class="bottom_line">&nbsp;</div>
<div class="top_con">{{ group.name }}小组</div>
</div>

<div id="left4_nav">
<ul>
<li><a href="/group/{{ group._id }}"  class="current{{ int( group_base_type=="home") }}">Home</a></li>
<li><a href="/group/{{ group._id }}/topic" class="current{{ int(group_base_type=="topic") }}">话题</a></li>
<li><a href="/group/{{ group._id }}/notice" class="current{{ int(group_base_type == "notice") }}">公告</a></li>
<li><a href="/group/{{ group._id }}/doc" class="current{{ int(group_base_type == "doc")}}">文档</a></li>
<li><a href="/group/{{ group._id }}/feedback" class="current{{ int(group_base_type=="feedback") }}">反馈</a></li>
<li><a href="/group/{{ group._id }}/member" class="current{{ int(group_base_type=="member") }}">成员</a></li>
<li><a href="/group/{{ group._id }}/info" class="current{{ int(group_base_type=="info") }}">关于</a></li>
</ul>
</div>

{% block group_base_left_body %}

{% end %}
</div>

<div id="right4">

<div class="group_logo">
{% if member_type == 'Manager' %}
<div class="group_logo_set"><a href="/group-set-logo?id={{ group._id }}" >修改</a></div>
{% end %}
<img src="{{ group.avatar }}" alt="" >
<div class="group_name">{{ group.name }}小组</div>

<div class="group_control">
{% if member_type is None %}
<span><a href="javascript:void(0)" do="follow" follow_id="{{ group._id }}" follow_type="group" page="author" onclick="do_follow(this);">加入小组</a></span>
{% else %}
<span><a href="javascript:void(0)" do="unfollow" follow_id="{{ group._id }}" follow_type="group" page="group-home" onclick="do_follow(this);">退出小组</a></span>
{% end %}
</div>

</div>
{% block group_base_right_body %}

{% end %}

</div>



{% end %}

{% block script_bottom %}
<script type="text/javascript" src="{{ static_url('js/me/write.js') }}"></script>

{% block group_one_script %}

{% end %}

{% end %}
