{% extends "group-base.html" %}


{% block group_base_left_body %}

{% set group = doc['group'] %}
{% set topic_list = doc['topic_list'] %}
{% set member_type = group['member_type'] %}

<div id="body_content">

    <!-- for topic lib -->
    <div class="group_content">
    <div class="group_nav group_topic_img"><span>话题</span>
    {% if member_type is not None %}
    <span class="group_nav_right"><a href='/write?type=group-topic&group={{ group['gid'] }}'>写话题</a></span>
    {% end %}
    </div>
    <table summary="" >
    <tr><th width="71%" align="left">话题</th><th width="8%" align="left">作者</th><th width="8%">回应</th><th width="13%" align="right">最后发言</th></tr>
    {% for item in topic_list %}
        <tr>
            <td nowrap="nowrap"><a href="/group/{{ group['gid'] }}/topic/{{ item['aid'] }}">{{ item['title'] }}</a></td>
            <td align="left" nowrap="nowrap"><a href="/bloger/{{ item['author']['uid'] }}">{{ item['author']['name'] }}</a></td>
            <td align="center">{{ item['comment_count'] }}</td>
            <td align="right">{{ item['release_time'][5:16] }}</td>
        </tr>
    {% end %}
    </table>
    {{ doc['paging_html'] }}
    </div>


</div>
{% end %}
