{% extends "../base.html" %}


{% block css_link %}
<link rel="stylesheet" type="text/css" href="{{  static_url("css/me/book.css")  }}" />
<link rel="stylesheet" type="text/css" href="{{  static_url("css/me/blog.css")  }}" />
<link rel="stylesheet" type="text/css" href="{{  static_url("css/me/write.css")  }}" />
<link type="text/css" rel="stylesheet" href="{{ static_url("css/code/shCore.css") }}" />
<link type="text/css" rel="stylesheet" href="{{ static_url("css/code/shThemeEmacs.css") }}" />
{% end %}

{% block middle_body %}


<div id="middle-book-left">

{% set book = doc['book'] %}
{% set author = book['author'] %}
{% set want = doc['subpage_type'] %}

<div class="book_tip">
<table>
<tr><td colspan="2" class="no_border"><span class="tip_mark">谱</span></td></tr>
<tr>
<td colspan="2" class="title"><a href="/book/{{ book['bid'] }}" >{{ book['name'] }}</a></td>
</tr>
<tr><td width="50%"><a href="/book/{{ book['bid'] }}/about" class="chosed{{ int(want=="about") }}">摘要</a></td>
<td width="50%"><a href="/book/{{ book['bid'] }}" class="chosed{{ int(want=="catalog") }}">目录</a></td></tr>
<tr><td class="time">最近更新</td><td class="time">2012-12-12</td></tr>
<tr><td class="time">浏览</td><td class="time">1</td></tr>
<tr><td class="time">收藏</td><td class="time">1</td></tr>

{% block book_base_left_body %}
{% end %}
</table>
</div>




</div>


<div id="middle-book-right">

{% block book_base_right_body%}

{% end %}

</div>

{% end %}

{% block script_bottom %}

<script type="text/javascript" >
$().ready(function(){
$('body').css({'background-image': 'url(/static/img/wrap.png)',
        'background-repeat': 'repeat',
        'background-attachment':'fixed'});
});
</script>

{% block script_book_bottom %}{% end %}

{% end %}
