{% extends "book-base.html" %}

{% block book_base_left_body %}

{% set book = doc['book'] %}
{% set author = book['author'] %}
{% set want = doc['load_page'] %}

<div class="book_nav_mark">
{% if doc['isedit'] == "yes"  %}
<span>修改知识谱</span>
{% else %}
<span>知识谱</span>
{% end %}
</div>

<div class="book_nav_title">
<span class="book_name_tip"><a href="/book/{{ book['bid'] }}">{{ book['name'] }}</a></span>
</div>


{% if want != "node" %}
<div class="book_tip current_tip{{ int(want=="cover") }}">
<span page="middle_book_cover">封面</span>
</div>

<div class="book_tip current_tip{{ int(want=="summary") }}">
<span page="middle_book_summary">摘要</span>
</div>

<div class="book_tip current_tip{{ int(want=="catalog") }}">
<span page="middle_book_catalog">目录</span>
</div>

{#暂时关闭
<div class="book_tip current_tip{{ int(want=="topic") }}">
<span page="middle_book_topic">讨论</span>
</div>

<div class="book_tip_normal">
<span>页<a href="#" class="book_page_a">1</a><a class="book_page_a book_page_current1">2</a></span>
</div>

<div class="book_tip current_tip{{ int(want=="feedback") }}">
<span page="middle_book_feedback">建议</span>
</div>
#}
{% else %}
    {% for item in book['chapter_list'] %}      
        <div class="book_tip_normal current_tip{{ int(doc['current_chapter']['cid'] == item['cid']) }}">
      
        
        <span class="book_node_tip"><a href="/book/{{book['bid']}}/catalog/{{ item['cid'] }}">{{ item['chapter_num'] }}&nbsp;-&nbsp;{{ item['title'] }}</a></span>
        </div>
    {% end %}
{% end %}




{% end %}


{% block book_base_right_body %}

<div id="middle_book" class="middle_book_cover current_middle{{ int(want=="cover") }}">
<div id="book_name">{{ book['name'] }}</div>
<div id="book_admin"><a href="/bloger/{{ author['uid'] }}">{{ author['name'] }}</a>审</div>
<div id="book_author">
{#
<a href="" >涂德巨</a>
<span>联合著</span>
#}<span>完成度 {{ book['complete_rate'] }}% (指定章节{{ book['complete_count'] }}/总章节数{{ book['all_catalog_count'] }})</span>
</div>
<div id="book_press">子曰出版社&reg;</div>
</div>



<div id="middle_book" class="middle_book_summary current_middle{{ int(want=="summary") }}">
<div class="book_header"><span class="header_left">内容摘要</span><span class="header_right">{{ book['name'] }}</span></div>
<div class="book_summary">
{% if not doc['isedit'] == "yes" %}
    {% if doc['user'] != {} and doc['user']['uid'] == author['uid'] %}
        <div class="book_do_a" book_id="{{ book['bid'] }}"><a href="/book/{{ book['bid'] }}?want=summary&edit=yes">修改摘要</a></div>
    {% end %}
{% end %}
<div class="book_summary_tip">内容摘要</div>
<div class="book_summary_con">

{% if doc['isedit'] == "yes" %}
<div id="book_write_wrap">
<textarea id="write_textarea" class="book_textarea">{{ book['summary']['body'] }}</textarea>
<button class="self-intro-button">提交</button><span class="self-info-process">&nbsp;</span>
</div>
{% else %}
<div class="bb_con">
{{ book['summary']['content']  }}
</div>
{% end %}
</div>
</div>
<div class="book_footer">&nbsp;</div>
</div>


<div id="middle_book" class="middle_book_catalog current_middle{{ int(want=="catalog") }}">
<div class="book_header"><span class="header_left">目录</span><span class="header_right">{{ book['name'] }}</span></div>
<div class="book_catalog">
{% if doc['isedit'] == "yes" %}
<div class="book_catalog_add" book_id="{{ book['bid'] }}">添加新目录</div>
{% else %}
    {% if doc['user']  and doc['user']['uid'] == author['uid'] %}
        <div class="book_do_a" book_id="{{ book['bid'] }}"><a href="/book/{{ book['bid'] }}?want=catalog&edit=yes">修改目录</a></div>
    {% end %}
{% end %}
<div class="book_catalog_tip">目录</div>
<div class="book_catalog_con">

{{ doc['catalog_html'] }}

<!--
<ul class="catalog_ul catalog_edit1">
<li><span class="num">1</span><span><a href="#">学习基础的Javascript</a></span>
<span class="catalog_edit">修改</span><span class="catalog_del">删除</span></li>
<li><span class="num">2</span><span><a href="#">基本数据类型</a></span><span class="catalog_edit">修改</span><span class="catalog_del">删除</span></li>
<li><span class="num">3</span><span><a href="#">学习基础的Javascript</a></span></li>
<li><span class="num">4</span><span><a href="#">基本数据类型</a></span></li>

<li><span class="num">5</span><span><a href="#">学习基础的Javascript</a></span></li>

<li><span class="num">6</span><span><a href="#">基本数据类型</a></span></li>

<li><span class="num">7</span><span><a href="#">学习基础的Javascript</a></span></li>

<li><span class="num">8</span><span><a href="#">基本数据类型</a></span></li>

<li><span class="num">9</span><span><a href="#">学习基础的Javascript</a></span></li>
<li><span class="num">10</span><span><a href="#">基本数据类型</a></span></li>
</ul>
-->

</div>
</div>
<div class="book_footer">&nbsp;</div>
</div>


<!-- for topic -->
{#暂时关闭
<div id="middle_book" class="middle_book_topic current_middle{{int(want=="topic")}}">
<div class="book_header"><span class="header_left">讨论</span><span class="header_right">{{ book.name }}</span></div>
<div class="book_summary">
<div class="book_summary_tip">讨论</div>
<div class="book_summary_con">
讨论
</div>
</div>
<div class="book_footer">&nbsp;</div>
</div>


<div id="middle_book" class="middle_book_feedback current_middle{{ int(want=="feedback") }}" >
<div class="book_header"><span class="header_left">建议</span><span class="header_right">{{ book.name }}</span></div>
<div class="book_summary">
<div class="book_summary_tip">建议</div>
<div class="book_summary_con">
建议
</div>
</div>
<div class="book_footer">&nbsp;</div>
</div>
#}


{% block book_middle_other %}{% end %}




{% end %}


{% block script_book_bottom %}

{% set book = doc['book'] %}
{% set author = book['author'] %}
{% set want = doc['load_page'] %}
    {% if doc['isedit'] == "yes" %}
        <script type="text/javascript" >
            $(document).ready(function(){
                {% set article = book['summary'] %}
                {#{{ article = book.about_object }}#}
                $("#write_textarea").CreateEditor("{{ article['aid'] }}","book-about",'', "0",'', "{{ book['bid'] }}");
                pic_lib = {{ json_encode(article['picture_list']) }};
                math_lib = {{ json_encode(article['equation_list']) }};
                table_lib = {{ json_encode(article['tableform_list']) }};
                ref_lib = {{ json_encode(article['reference_list']) }};
                code_lib = {{ json_encode( article.langcode_lib ) }};
                $("#write_textarea").lib_init(pic_lib, math_lib, table_lib, code_lib, ref_lib);	                  
            });
        </script>
    {% else %}
        <script type="text/javascript" >
            
        </script>
    {% end %}
    {% block script_book_node_bottom %}{%end %}
    <script type="text/javascript" src="{{ static_url("js/code/shCore.js") }}"></script>
    {%  for jjj in doc['book']['summary']['js_list']  %}
    <script type="text/javascript" src="{{ static_url("js/code/" + jjj) }}"></script>
    {% end %}

    <script type="text/javascript">
    $().ready(function(){
	       SyntaxHighlighter.all();
    });
    </script>
<script type="text/javascript" src="/static/js/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['[math]', '[/math]']],
      displayMath: [ ['[equation]', '[/equation]']],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] },
     TeX: { equationNumbers: { autoNumber: "AMS" } }
  });
</script>
{% end %}
