{% extends "../base.html" %}


{% block css_link %}
<link rel="stylesheet" type="text/css" href="{{  static_url("css/me/book.css")  }}" />
<link rel="stylesheet" type="text/css" href="{{  static_url("css/me/blog.css")  }}" />
<link rel="stylesheet" type="text/css" href="{{  static_url("css/me/write.css")  }}" />
<link type="text/css" rel="stylesheet" href="{{ static_url("css/code/default.css") }}" />
{% end %}

{% block middle_body %}


<div id="middle-book-left">

{% set book = doc['book'] %}
{% set author = book['author'] %}
{% set want = doc['subpage_type'] %}


<div class="book_tip">
<table>
<tr><td colspan="2" class="no_border">
{% if book['islike'] %}
<span id="collect_tip" class="done1" title="取消喜欢" obj_id="{{ book['bid'] }}" obj_type="book" like_status="yes" istip="true">&nbsp;</span>
{% else %}
<span id="collect_tip" class="done0" title="喜欢" obj_id="{{ book['bid'] }}" obj_type="book" like_status="no" istip="true">&nbsp;</span>
{% end %}
<span class="tip_mark">谱</span>
</td></tr>
<tr>
<td colspan="2" class="title"><a href="/book/{{ book['bid'] }}" >{{ book['name'] }}</a></td>
</tr>
<tr>
{% if want != "about" %}
<td width="50%"><a href="/book/{{ book['bid'] }}/about" class="chosed{{ int(want=="about") }}">摘要</a></td>
{% end %}
{% if want != "catalog" %}
<td width="50%"><a href="/book/{{ book['bid'] }}" class="chosed{{ int(want=="catalog") }}">目录</a></td>
{% end %}
{% if want != "info" and want !="chapter" %}
<td width="50%"><a href="/book/{{ book['bid'] }}/info" class="chosed{{ int(want=="info") }}">信息</a></td>
{% end %}
</tr>

<tr><td class="time">最近更新</td><td class="time">{{ str(book['update_time'])[:10] }}</td></tr>
{#
<tr><td class="time">浏览</td><td class="time">1</td></tr>
<tr><td class="time">收藏</td><td class="time">1</td></tr>
#}
{% block book_base_left_body %}
{% end %}
</table>
</div>




</div>


<div id="middle-book-right">

{% block book_base_right_body%}

{% end %}

</div>

{% end %}

{% block script_bottom %}

<script type="text/javascript" >
$().ready(function(){
$('body').css({'background-image': 'url(/static/img/wrap.png)',
        'background-repeat': 'repeat',
        'background-attachment':'fixed'});
});
</script>

{% block script_book_bottom %}{% end %}

{% end %}
