{% extends "base.html" %}

{% block middle_body %}



<div id="middle-in">

{% if doc['check_type'] == "mail" %}
<div id="top_login_nav">
<ul>
<li><a href="#" class="current">注册邮箱验证</a></li>
</ul>
</div>
{% else %}
<div id="top_login_nav">
<ul>
<li><a href="/reset" class="current">重置密码</a></li>
</ul>
</div>
{% end %}


{% if doc['check_type'] == "mail" %}

<div id="login">
<table summary="" style="margin-left:50px;">
<tr><td>

{% if doc['status'] ==0 %}
邮箱验证成功，请登陆！<a class="l-a" href="/">登陆</a>
{% else %}
{{ doc['info'] }}
{% end %}
</td></tr>

</table>
</div>


{% else %}


<div id="login">
<table summary="" style="margin-left:50px;">
<tr><td>

{% if doc['status'] ==0 %}
密码重置成功，您可以使用新密码进行登陆！<a class="l-a" href="/">登陆</a>
{% else %}
{{ doc['info'] }}
{% end %}
</td></tr>

</table>
</div>

{% end %}
</div>



{% end %}


{% block script_bottom %}
<script type="text/javascript" src="{{ static_url("js/me/login.js") }}"></script>
{% end %}
