{% extends "user-base.html" %}


{% block left_page_html %}
{% set subpage = doc['subpage_type'] %}
<div id="page">
<div id="page_title">错误</div>
<ul>
<li><a href="javascript:void(0)"  class="current1 ">错误</a></li>
</ul>
</div>
{% end %}

{# this page for setting #}

{% block user_base_right_body %}

<div id="body_content">

<div class="like settings margin-left-0 my_book_image">
<div class="page_nav"><span>错误</span></div>
<div class="error_wrap">
<table summary="" class="error_wrap_table" >

<tr><td class="lefttd">错误状态</td><td class="status_code">{{ doc['status'] }}</td></tr>
<tr><td width="10%" class="lefttd">错误描述</td><td width="90%" class="righttd">{{ doc['error_info'] }}</td></tr>
</table>
</div>

</div>

</div>


{% end %}