{% extends "user-base.html" %}


{% block css_link %}

{% end %}


{% block left_page_html %}
{% set subpage = doc['subpage_type'] %}
<div id="page">
<div id="page_title">验证</div>
<ul>
{% if doc['check_type'] == "mail" %}
<li><a href="#"  class="current{{ int(subpage == "mail") }}">邮箱验证</a></li>
{% else %}
<li><a href="#" class="current{{ int(subpage == "password") }}">密码验证</a></li>
{% end %}
</ul>
</div>
{% end %}

{# this page for setting #}

{% block user_base_right_body %}

<div id="body_content">


<div class="follow margin-left-0">
<div class="page_nav"><span>验证</span></div>
<div id="login_do">
<table class="login">
{% if doc['check_type'] == "mail" %}
<tr><td align="left">
{% if doc['status'] ==0 %}
邮箱验证成功，请登陆！<a class="l-a" href="/login">登陆</a>
{% else %}
{{ doc['info'] }}
{% end %}
</td></tr>
</table>

{% else %}

<tr><td align="left">
{% if doc['status'] ==0 %}
密码重置成功，您可以使用新密码进行登陆！<a class="l-a" href="/">登陆</a>
{% else %}
{{ doc['info'] }}
{% end %}
</td></tr>
{% end %}
</table>
</div>

</div>


</div>
{% end %}

