{% extends "user-base.html" %}


{% block left_page_html %}
{% set subpage = doc['subpage_type'] %}
<div id="page">
<div id="page_title">错误</div>
<ul>
<li><a href="#"  class="current1 ">错误</a></li>
</ul>
</div>
{% end %}

{# this page for setting #}

{% block user_base_right_body %}

<div id="body_content">

<div class="like settings margin-left-0 my_book_image">
<div class="page_nav"><span>迷路详情</span></div>
<div class="error_wrap">
<table summary="" class="error_wrap_table" >
<tr><td width="10%" class="lefttd">迷路描述</td><td width="90%" class="righttd">{{ error['des'] }}</td></tr>
<tr><td class="lefttd">迷路状态</td><td class="status_code">{{ error['code'] }}</td></tr>
<tr><td class="lefttd">迷路位置</td><td>{{ error['url'] }}</td></tr>
{% if error['debug'] %}
<tr><td class="lefttd" valign="top">错误栈</td><td class="righttd">{{ error['exc_info'] }}</td></tr>
{% end %}
<tr><td class="lefttd" valign="top">迷路原因</td>
<td class="righttd">
<ul class="error_style">
{% for item in error['reason'] %}
<li>{{ item }}</li>
{% end %}
</ul>
</td></tr>
</table>
</div>

</div>

</div>


{% end %}