{% extends "base.html" %}



{% block middle_body %}


<div id="middle-in">



<div id="login">

<div id="top_login_nav">
<ul>
<li><a href="/reg" class="current">注册</a></li>
<li><a href="/login">登陆</a></li>
<li><a href="/reset" >重置密码</a></li>
</ul>
</div>

<div id="login_do">
<table class="reg">

<tr><td>登陆邮箱</td><td align="left"><input type="text" class="login_mail" name="email" id="login-email" /></td></tr>
<tr><td width="20%">您的姓名</td><td align="left" width="80%"><input type="text" class="login_mail" name="name" id="afewords_token"/>{{ xsrf_form_html() }}</td></tr>
<tr><td>设置密码</td><td align="left"><input type="password" class="login_mail" name="pwd" /></td></tr>
<tr><td>确认密码</td><td align="left"><input type="password" class="login_mail" name="pwd_again" /></td></tr>
<tr><td style="letter-spacing:5px;">验证码</td><td align="left"><input type="text" name="token" class="login_mail" /></td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td align="left"><span id="code_img">
<img src="/code" alt="验证图片" class="code-img" ></span><span class="l-a code_change" onclick="change_code()">更换验证码</span>
</td></tr>
<tr><td colspan="2"><button type="submit" class="login_button">注册</button><span class="login-process"></span></td></tr>
</table>
</div>



</div>

{#
<div id="afw_info">
<ul class="afw_info">
{% for item in blog_list %}
<li><a href="blog/{{ item['blog_id'] }}">{{ item['title'] }}</a>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="/bloger/{{ item['author_id'] }}" >{{ item['author_name'] }}</a></li>
{% end %}
</ul>
</div>
#}

</div>

{% end %}


{% block script_bottom %}
<script type="text/javascript" src="{{ static_url("js/me/login.js") }}"></script>
{% end %}
