{% extends "blog-base.html" %}

{% block css_link %}

<link rel="stylesheet" type="text/css" href="{{ static_url("css/me/book.css") }}" />
{% end %}

{# for blog page --- user follow and follower #}
{% set author = doc['author'] %}
{% set user = doc['user'] %}
{% set book_list = doc['book_list'] %}


{% block blog_base_left_body %}

{% if author != {} %}


<div class="like settings my_book_image">

    <div class="page_nav"><span>我的知识谱</span></div>
    <div class="book_card_wrap">
    {% if len(book_list) == 0 %}
        No one!
    {% else %}
        {% for item in book_list %}
            <div class="book_card_one">
            <table summary="" >
            <tr><td>
            <div class="book_card">
            <div class="book_card_name"><a href="/book/{{ item['bid'] }}" target="_blank">{{ item['name'] }}</a></div>
            </div></td><td>
            <div class="book_card_feed">
            {#<span class="card_tip"><a href="/bloger/{{ item['book_owner_id'] }}" target="_blank">{{ item['book_owner_name'] }}</a>审</span>#}
            {#<span class="card_tip"><a href="#">讨论</a></span>
            <span class="card_tip"><a href="#">建议</a></span>
            <span class="card_tip"><a href="#">文章</a></span>#}
            <span class="card_tip"><a href="/book/{{ item['bid'] }}?want=catalog">目录</a></span>
            <span class="card_tip">完成度 {{ item['complete_rate'] }}%({{ item['complete_count'] }}/{{ item['all_catalog_count'] }})</span>
            {% if user != {} and user['uid'] == author['uid'] %}
            <span class="card_tip">
                <a href="/book-edit/{{ item['bid'] }}?want=catalog" target="_blank" class="book_modify">修改目录</a>
                <a href="/book-edit/{{ item['bid'] }}?want=summary" class="book_modify" target="_blank">修改摘要</a>
            </span>
            {% end %}
            </div></td>
            </tr>
            </table>
            </div>
        {% end %}   
    {% end %}
    {{ doc['paging_html'] }}
    </div>
    </div>


{% end %}


{% end %}



