{% extends "blog-base.html" %}
{# for blog page --- user about #}

{% block css_link %}
    <link rel="stylesheet" type="text/css" href="{{ static_url("css/me/blog.css") }}"/>
{% end %}

{% block blog_base_left_body %}
{% set user = doc['user'] %}
{% set author = doc['author'] %}
{% set about = doc['about'] %}

<!-- for about -->
{% if author != {} %}
<div class="about">
{% if user != {} and user['uid'] == author['uid'] %}
<div class="page_name"><a href="/write?id={{ about['aid'] }}&type=about">编辑</a></div>
{% else %}

<div class="page_name">关于我</div>
{% end %}
<div class="about_body">
<div class="bb_con">

{{ about['content']}}

</div>
</div>

</div>
{% end %}


{% end %}



