{% extends "blog-base.html" %}
{# for blog page --- user follow and follower #}



{% block blog_base_left_body %}

{% if author is not None %}

<!-- follow and follower -->

<div class="follow">
<div class="page_name">关注</div>
{% if follow_list == []%}
    No one
{% else %}
    <ul>
    {% for follow_one in follow_list %}
    <li>
    <div class="follow_one">
    <img src="{{ follow_one['thumb'] }}"/>
    <div class="info">
    <span class="name"><a href="/bloger/{{ follow_one['id'] }}" target="_blank">{{ follow_one['name'] }}</a></span>
    {% if user is not None and user._id != follow_one['id'] %}
        {% if user.follow_lib[str(follow_one['id'])] is not None %}
            <span class="control"><a href="javascript:void(0);" do="unfollow" follow_id="{{ follow_one['id'] }}" page="follow">取消关注</a></span>
        {% else %}
            <span class="control"><a href="javascript:void(0);" do="follow" follow_id="{{ follow_one['id'] }}" page="follow">关注</a></span>
        {% end %}
    {% end %}
    <!--<span class="control"><a href="#" target="_blank">留言</a></span>-->
    </div>
    </div>
    </li>
    {% end %}
    </ul>
    {{ create_page_block('/bloger/' + str(author._id) + '/follow?page='  , current_page=page, sum_count=total_num, page_cap=9) }}
{% end %}
</div>


{% end %}


{% end %}



