{% extends "blog-base.html" %}
{# for blog page --- user follow and follower #}

{% set author = doc['author'] %}
{% set user = doc['user'] %}
{% set follow_list = doc['follow_list'] %}

{% block blog_base_left_body %}

{% if author != {} %}

<!-- follow and follower -->

<div class="follow">
<div class="page_name">关注</div>
{% if follow_list == []%}
    No one
{% else %}
    <ul>
    {% for follow_one in follow_list %}
    <li>
    <div class="follow_one">
    <img src="{{ follow_one['thumb'] }}"/>
    <div class="info">
    <span class="name"><a href="/bloger/{{ follow_one['uid'] }}" target="_blank">{{ follow_one['name'] }}</a></span>
    {% if user != {} and user['uid'] != follow_one['uid'] %}
        {% if follow_one['isfollow'] %}
            <span class="control"><a href="javascript:void(0);" do="unfollow" follow_id="{{ follow_one['uid'] }}" page="follow">取消关注</a></span>
        {% else %}
            <span class="control"><a href="javascript:void(0);" do="follow" follow_id="{{ follow_one['uid'] }}" page="follow">关注</a></span>
        {% end %}
    {% end %}
    <!--<span class="control"><a href="#" target="_blank">留言</a></span>-->
    </div>
    </div>
    </li>
    {% end %}
    </ul>
    {{ doc['paging_html'] }}
{% end %}
</div>


{% end %}


{% end %}



