{% extends "setting-base.html" %}

{% block setting_html %}

<!-- for invite -->
    <div class="settings margin-left-0">
    {#
    {% if user.domain == 'afewords.com' %}
        <div class="page_nav"><span>邀请好友</span>&nbsp;&nbsp;-&nbsp;&nbsp;<span>此帐号邀请无限制</span></div>
        <div class="div-20"></div>
        <table>
        <tr><td width="15%" valign="top">好友邮箱</td>
        <td width="85%"><textarea name="email" class="email_textarea" spellcheck="false"></textarea></td></tr> 
        <tr><td colspan="2"><button class="self-intro-button">邀请他们</button><span class="self-info-process">&nbsp;</span></td></tr>
        </table>
        <div class="div-20"></div>
        <div class="div-20"></div>
    {% else %}
    #}
        {% if doc['invite_count'] < 5 %}
        <div class="page_nav"><span>邀请好友</span>&nbsp;&nbsp;-&nbsp;&nbsp;<span>还可邀请{{ 5 - doc['invite_count'] }}人，多个邮箱请用;隔开</span></div>
        <div class="div-20"></div>
        <table>
        <tr><td width="15%" valign="top">好友邮箱</td>
        <td width="85%"><textarea name="email" class="email_textarea" spellcheck="false"></textarea></td></tr> 
        <tr><td colspan="2"><button class="self-intro-button">邀请他们</button><span class="self-info-process">&nbsp;</span></td></tr>
        </table>
        <div class="div-20"></div>
        <div class="div-20"></div>
        {% else %}
        <div class="page_nav"><span>邀请好友</span></div>
        <div class="div-20"></div>
        您已经邀请了5人！
        <div class="div-20"></div>
        <div class="div-20"></div>
        </div>
        {% end %}
    {#
    {% end %}
    #}

{% end %}
