{% extends "setting-base.html" %}


{% block setting_html %}



    <!-- for tag -->
    <div class="like settings margin-left-0">
    <div class="page_nav"><span>分类</span><span class="self-nav-a cursor-pointer tag_new">添加</span></div>
    <div class="div-20"></div>
    {% if doc['tag_list']  == [] %}
        <div id="tag-note">没有分类</div>
    {% else %}
        <ul class="ul">
        {% for tmp_tag in doc['tag_list'] %}
            <li class="li"><a href="/blog-lib?tag={{ url_escape(tmp_tag) }}" class="tag-link" >{{ tmp_tag }}</a> 
            <span class="tag-del" style="display:none" tag="{{ tmp_tag }}">删除</span></li>
        {% end %}
        </ul>
    {% end %}
    <div class="div-20"></div>
    <div class="div-20"></div>
    <div class="div-20"></div>
    </div>

{% end %}
