{% extends "user-base.html"%}


{% block css_link %}

 <link rel="stylesheet" type="text/css" href="{{ static_url("css/jquery.Jcrop.css") }}" />
 <link rel="stylesheet" type="text/css" href="{{ static_url("css/me/write.css") }}" />
{% end %}

{# this page for setting #}

{% block user_base_right_body %}
<script type="text/javascript" >
var settings_type = "{{ doc['settings_type'] }}";
</script>
<div id="top_nav">
<ul>
<li><a href="/settings-invite" class="current{{ int( doc['settings_type'] =='invite') }}">邀请好友</a></li>
<li><a href="/settings-domain" class="current{{ int( doc['settings_type'] =='domain') }}">个性化</a></li>
<li><a href="/settings-password" class="current{{ int(doc['settings_type'] =='password') }}">密码</a></li>
<li><a href="/settings-avatar" class="current{{ int(doc['settings_type']=='avatar') }}">头像</a></li>
<li><a href="/settings-tag" class="current{{ int(doc['settings_type']=='tag') }}">执笔分类</a></li>
{# <li><a href="/settings-like" class="current{{ int(doc['settings_type']=='like') }}">喜欢</a></li> #}
<li><a href="/settings-follower" class="current{{ int(doc['settings_type'] =='follower') }}">关注我</a></li>
<li><a href="/settings-follow" class="current{{ int(doc['settings_type'] =='follow') }}">我关注</a></li>

{#<li><a href="/settings-about" class="current{{ int(doc['settings_type']=='about') }}">关于我</a></li>#}

<li><a href="/draft" class="current{{ int(doc['settings_type']=='draft') }}">草稿箱</a></li>
<li><a href="/notice" class="current{{ int(doc['settings_type']=='notice') }}">消息</a></li>
</ul>
</div>


<div id="body_content">


{% if doc['settings_type'] == "password" %}
    <!-- for password -->
    <div class="settings margin-left-0">
    <div class="page_nav"><span>密码</span></div>
    <div class="div-20"></div>
    <table>
    <tr><td width="15%" height="40px;">原密码</td><td width="8%"></td><td width="72%"><input type="password" id="self-old-pwd" name="self-old-pwd"  /></td></tr>
    <tr><td width="15%" height="40px;">新密码</td><td width="8%"></td><td width="72%"><input type="password" id="self-new-pwd" name="self-new-pwd" /></td></tr>
    <tr><td width="15%" height="40px;">确认新密码</td><td width="8%"></td><td width="72%"><input type="password" id="self-pwd-again" name="self-pwd-again" /></td></tr>
    <tr><td colspan="3"><button class="self-intro-button">确认修改</button><span class="self-info-process">&nbsp;</span></td></tr>
    </table>
    <div class="div-20"></div>
    <div class="div-20"></div>
    </div>
{% elif doc['settings_type'] == "notice" %}

    <div class="notice margin-left-0">
    <div class="page_nav">
    <span>消息</span>
    <span class="noti_clear_all" do="delete" is_all="yes"><a href="javascript:void(0);" class="noti_link">清空全部</a></span>
    <span class="noti_read_all" do="read" is_all="yes"><a href="javascript:void(0);" class="noti_link">已读全部</a></span></div>
    <div class="div-20"></div>
    {% if doc['notice_list'] != [] %}
    <ul>
    {% for kk in doc['notice_list'] %}
        
        <li index="{{ kk['index'] }}" class="noti-read-{{ str(kk['isread']) }}">{{ kk['content'] }}</li>
        
    {% end %}
    </ul>
    <div class="div-20"></div>
    {{ create_page_block('/notice?page=', current_page=page, sum_count=total_num) }}
    {% else %}

    {#
    {% if page > 1 %}
       已经到最后了
    {% else %}
        没有消息
    {% end %}
    #}
    您没有消息
    
    {% end %}
    </div>

{% elif doc['settings_type'] == "draft" %}

    <div class="like draft margin-left-0">
    <div class="page_nav"><span>草稿</span></div>
    <div class="div-20"></div>
    {% if doc['draft_list'] != [] %}
        <ul>
        {% for kk in doc['draft_list'] %}
            {% if kk['type'] == "Blog" %}
                <li><a href="/write?id={{ kk['id'] }}" class="draft-link" target="_blank">未完成文章</a>
                <span class="draft_time">{{ str(kk['time'])[:16] }}</span>
                <a style="display:none" class="draft_del" href="javascript:void(0);" article_id="{{ kk['id'] }}" type="blog" onclick="do_draft_del(this)" target="_blank">删除</a>
                </li>
            {% elif kk['type'] == "Comment" %}
                <li><a href="/blog/{{ kk['father'] }}" class="draft-link"  target="_blank">未完成评论</a><span class="draft_time">{{ str(kk['time'])[:16] }}</span>
                <a style="display:none" class="draft_del" href="javascript:void(0);" article_id="{{ kk['id'] }}" type="comment" onclick="do_draft_del(this)" target="_blank">删除</a></li>
            {% elif kk['type'] == 'Feedback' %}
                <li><a href="/write?id={{ kk['id'] }}&type=group-feedback" class="draft-link"  target="_blank">未完成反馈</a><span class="draft_time">{{ str(kk['time'])[:16] }}</span>
                <a style="display:none" class="draft_del" href="javascript:void(0);" article_id="{{ kk['id'] }}" type="feedback" onclick="do_draft_del(this)" target="_blank">删除</a></li>
            {% elif kk['type'] == 'Topic' %}
                <li><a href="/write?id={{ kk['id'] }}&type=group-topic" class="draft-link"  target="_blank">未完成话题</a><span class="draft_time">{{ str(kk['time'])[:16] }}</span>
                <a style="display:none" class="draft_del" href="javascript:void(0);" article_id="{{ kk['id'] }}" type="topic" onclick="do_draft_del(this)" target="_blank">删除</a></li>
            {% else %}
            
            {% end %}
        {% end %}
        </ul>
        {{ create_page_block('/draft?page=', current_page=page, sum_count=total_num) }}
    {% else %}
        {% if page > 1 %}
           已经到最后了
        {% else %}
            草稿箱里没有内容
        {% end %}
    {% end %}
    <div class="div-20"></div>
    </div>

{% elif doc['settings_type'] == "tag" %}

    <!-- for tag -->
    <div class="like settings margin-left-0">
    <div class="page_nav"><span>分类</span><span class="self-nav-a cursor-pointer tag_new">添加</span></div>
    <div class="div-20"></div>
    {% if doc['tag_list']  == [] %}
        <div id="tag-note">没有分类</div>
    {% else %}
        <ul class="ul">
        {% for tmp_tag in doc['tag_list'] %}
            <li class="li"><a href="/blog-lib?tag={{ url_escape(tmp_tag) }}" class="tag-link" >{{ tmp_tag }}</a> 
            <span class="tag-del" style="display:none" tag="{{ tmp_tag }}">删除</span></li>
        {% end %}
        </ul>
    {% end %}
    <div class="div-20"></div>
    <div class="div-20"></div>
    <div class="div-20"></div>
    </div>

{% elif doc['settings_type'] == "domain" %}

    <!-- for domain -->
    <div class="like settings margin-left-0">
    <div class="page_nav"><span>个性化</span><span class="domain"><a href="javascript:void(0)" >修改</a></span></div>
    <div class="div-20"></div>
    <div class="my_domain">您的个性化链接为：http://www.afewords.com/me:{{ doc['domain'] }}</div>
    <div></div>
    <div class="div-20"></div>
    <div class="div-20"></div>
    <div class="div-20"></div>
    </div>

{% elif doc['settings_type'] == "avatar" %}

    <!-- for avatar -->
    <div class="settings margin-left-0">
    <div class="page_nav"><span>头像</span></div>
    <div id="self">
    <div class="self-img-up">
    <form action="/upload-image" method="post" target="self-iframe" enctype="multipart/form-data" >
    <table style="margin-top:25px;">
    <tr><td width="30%"><input type="file" name="picture" id="file-avatar" />
    <input type="hidden" name="picture_type" value="avatar" />{{ xsrf_form_html() }}</td>
    <td width="50%"><span class="self-upload-process">选择头像图片</span></td>
    <td width="20%"><button class="self-button" type="submit" id="self-img-up-upb">上传头像</button></td>
    </tr>
    </table>
    </form>
    <iframe name="self-iframe" id="self-iframe" style="display:none;"></iframe>
    </div>
    {% if doc['avatar_path'] != '' %}
        <div class="self-img-up" style="margin-top:20px;" id="self-img-up-tag">裁剪头像：</div>
        <table style="margin-top:5px;" id="form-avatar">
        <tr>
	    <td rowspan="5" id="crop-contain">
		<img src="{{ doc['avatar_path'] }}" id="crop-obj" alt="Flowers" />
	    </td>
        </tr>
        <tr><td align="center" width="150px;">
	    <div style="width:120px;height:120px;overflow:hidden;">
		<img src="{{ doc['avatar_path'] }}" id="preview-120" alt="Preview" />
	    </div>
	    </td>
        </tr>
        <tr><td align="center" height="100px;">
	    <div style="width:50px;height:50px;overflow:hidden;">
		<img src="{{ doc['avatar_path'] }}" id="preview-50" alt="Preview" />
		</div>
        </td></tr>
        <tr><td align="center" id="crop-process">&nbsp;</td></tr>
        <tr><td align="center">
        <input type="hidden" name="pos-x" id="pos-x" value="0" />
        <input type="hidden" name="pos-y" id="pos-y" value="0" />
        <input type="hidden" name="pos-w" id="pos-w" value="0" />
        <input type="hidden" name="pos-time" id="pos-time" value="1" />
        <button class="self-intro-button" style="float:none;">提交</button>
        </td></tr>
        </table>
    {% end %}
    </div>
    <div class="div-20"></div>
    <div class="div-20"></div>
    </div>


{% elif doc['settings_type']  == "like" %}

    <!-- like -->
    <div class="like margin-left-0">
    <div class="page_nav"><span>喜欢</span></div>
    <div class="div-20"></div>
    {% if doc['like_list'] == [] %}
        {% if page > 1 %}
            已经浏览完！
        {% else %}
            Nothing
        {% end %}
    {% else %}

        <ul>
            {% for like_one in doc['like_list'] %}
            <li><a href="/blog/{{ like_one['aid'] }}" target="_blank">{{ like_one['title'] }}</a>
            <span class="like_cancel" style="display:none" page="settings" do="unlike" obj_id="{{ like_one['aid'] }}">取消</span></li>
            {% end %}
        </ul>
        {{ create_page_block('/settings-like?page=', current_page=page, sum_count=total_num) }} 
    {% end %}
    <div class="div-20"></div>
    </div>

{% elif doc['settings_type']  == "follow" %}

<!-- follow and follower -->
<div class="follow margin-left-0">
<div class="page_nav"><span>我关注</span></div>
<div class="div-20"></div>
{% if doc['follow_list'] == []%}
    No one
{% else %}
    <ul>
    {% for follow_one in doc['follow_list'] %}
    <li>
    <div class="follow_one">
    <img src="{{ follow_one['thumb'] }}"/>
    <div class="info">
    <span class="name"><a href="/bloger/{{ follow_one['uid'] }}" target="_blank">{{ follow_one['name'] }}</a></span>
    <span class="control">
    <a href="javascript:void(0);" class="follow_cancel" do="unfollow" follow_id="{{ follow_one['uid'] }}" page="settings-follow">取消关注</a>
    </span>
    <!--<span class="control"><a href="#" target="_blank">留言</a></span> -->
    </div>
    </div>
    </li>
    {% end %}
    </ul>
    {{ create_page_block('/settings-follow?page=', current_page=page, sum_count=total_num, page_cap=16) }}
{% end %}
</div>

{% elif doc['settings_type']  == "follower"%}

<div class="follow margin-left-0">
<div class="page_nav"><span>关注我</span></div>
<div class="div-20"></div>
{% if doc['follower_list'] == []%}
    No one
{% else %}
    <ul>
    {% for follow_one in doc['follower_list'] %}
    <li>
    <div class="follow_one">
    <img src="{{ follow_one['thumb'] }}"/>
    <div class="info">
    <span class="name"><a href="/bloger/{{ follow_one['uid'] }}" target="_blank">{{ follow_one['name'] }}</a></span>
    <span class="control">
    {% if follow_one['isfollow'] is False %}
        <a class="follow_cancel" href="javascript:void(0);" do="follow" follow_id="{{ follow_one['uid'] }}" page="settings-follower">关注</a>
    {% else %}
        <a class="follow_cancel" href="javascript:void(0);" do="unfollow" follow_id="{{ follow_one['uid'] }}" page="settings-follower">取消关注</a>
    {% end %}
    </span>
    <!--<span class="control"><a href="#" target="_blank">留言</a></span> -->
    </div>
    </div>
    </li>
    {% end %}
    </ul>
    {{ create_page_block('/settings-follower?page='  , current_page=page, sum_count=total_num, page_cap=16) }}
{% end %}
</div>

{% elif doc['settings_type'] == "invite" %}
    <!-- for invite -->
    <div class="settings margin-left-0">
    {#
    {% if user.domain == 'afewords.com' %}
        <div class="page_nav"><span>邀请好友</span>&nbsp;&nbsp;-&nbsp;&nbsp;<span>此帐号邀请无限制</span></div>
        <div class="div-20"></div>
        <table>
        <tr><td width="15%" valign="top">好友邮箱</td>
        <td width="85%"><textarea name="email" class="email_textarea" spellcheck="false"></textarea></td></tr> 
        <tr><td colspan="2"><button class="self-intro-button">邀请他们</button><span class="self-info-process">&nbsp;</span></td></tr>
        </table>
        <div class="div-20"></div>
        <div class="div-20"></div>
    {% else %}
    #}
        {% if doc['invite_count'] < 5 %}
        <div class="page_nav"><span>邀请好友</span>&nbsp;&nbsp;-&nbsp;&nbsp;<span>还可邀请{{ 5 - doc['invite_count'] }}人，多个邮箱请用;隔开</span></div>
        <div class="div-20"></div>
        <table>
        <tr><td width="15%" valign="top">好友邮箱</td>
        <td width="85%"><textarea name="email" class="email_textarea" spellcheck="false"></textarea></td></tr> 
        <tr><td colspan="2"><button class="self-intro-button">邀请他们</button><span class="self-info-process">&nbsp;</span></td></tr>
        </table>
        <div class="div-20"></div>
        <div class="div-20"></div>
        {% else %}
        <div class="page_nav"><span>邀请好友</span></div>
        <div class="div-20"></div>
        您已经邀请了5人！
        <div class="div-20"></div>
        <div class="div-20"></div>
        </div>
        {% end %}
    {#
    {% end %}
    #}


{% end %}
{# #bodycontent end #}
</div>




{# user_base_right_body end  #}
{% end %}

{% block script_bottom %}

<script type="text/javascript" src="{{ static_url("js/jq/jquery.Jcrop.min.js") }}" ></script>
<script type="text/javascript" src="{{ static_url("js/me/login.js") }}" ></script>
<script type="text/javascript" src="{{ static_url("js/me/write.js") }}" ></script>
{#
{% if kind == "about" %}
<script type="text/javascript" >
 $(document).ready(function(){
        $("#write_textarea").CreateEditor("about","about",'', "0");
        pic_lib = {{ json_encode(src_lib['p']) }};
        math_lib = {{ json_encode(src_lib['m']) }};
        table_lib = {{ json_encode(src_lib['t']) }};
        ref_lib = {{ json_encode(src_lib['r']) }};
        code_lib = {{ json_encode(src_lib['c']) }};
        $("#write_textarea").lib_init(pic_lib, math_lib, table_lib, code_lib, ref_lib);	       
});
</script>
{% end %}
#}

{% end %}
