{% extends "setting-base.html" %}

{% block setting_html %}


    <div class="notice margin-left-0">
    <div class="page_nav">
    <span>消息</span>
    <span class="noti_clear_all" do="delete" is_all="yes"><a href="javascript:void(0);" class="noti_link">清空全部</a></span>
    <span class="noti_read_all" do="read" is_all="yes"><a href="javascript:void(0);" class="noti_link">已读全部</a></span></div>
    <div class="div-20"></div>
    {% if doc['notice_list'] != [] %}
    <ul>
    {% for kk in doc['notice_list'] %}
        
        <li index="{{ kk['index'] }}" class="noti-read-{{ str(kk['isread']) }}">{{ kk['content'] }}</li>
        
    {% end %}
    </ul>
    <div class="div-20"></div>
    {{ doc['paging_html']  }}
    {% else %}

    您没有消息
    
    {% end %}
    </div>



{% end %}
