{% extends "setting-base.html" %}

{% block setting_html %}
 <!-- like -->
    <div class="like margin-left-0">
    <div class="page_nav"><span>喜欢</span></div>
    <div class="div-20"></div>
    {% if doc['like_list'] == [] %}
        {% if page > 1 %}
            已经浏览完！
        {% else %}
            Nothing
        {% end %}
    {% else %}

        <ul>
            {% for like_one in doc['like_list'] %}
            <li><a href="/blog/{{ like_one['aid'] }}" target="_blank">{{ like_one['title'] }}</a>
            <span class="like_cancel" style="display:none" page="settings" do="unlike" obj_id="{{ like_one['aid'] }}">取消</span></li>
            {% end %}
        </ul>
        {{ create_page_block('/settings-like?page=', current_page=page, sum_count=total_num) }} 
    {% end %}
    <div class="div-20"></div>
    </div>



{% end %}
