{% extends "base.html" %}


{% block middle_body %}

<div id="left2">
{# remove this
<div id="left2-name">{{ user.name }}</div>
#}
<ul id="left2-nav">

<li><a href="/feed" class="current{{ int(user_base_type=='feed') }}">动态</a></li>
<li><a href="/settings-invite" class="current{{ int(user_base_type=='settings') }}">管理</a></li>
<li><a href="/user-group" class="current{{ int(user_base_type=='user-group') }}">小组</a></li>
<li><a href="/blog-lib" class="current{{ int(user_base_type=='blog') }}">文章</a></li>
<li><a href="/user-book" class="current{{ int(user_base_type=='user-book') }}">知识谱</a></li>


{% if user.domain == 'afewords.com' %}
<li><a href="/user-lib" class="current{{ int(user_base_type=='user-lib') }}">人群</a></li>
{% end %}
</ul>

</div>

<div id="right2">
{% block user_base_right_body %}{% end %}
</div>

{% end %}