{% extends "user-base.html" %}

{% block afewords_user_html %}

<div class="settings">

        {% if doc['invite_count'] > 0 %}
        <div class="page_nav"><span>邀请好友</span>&nbsp;&nbsp;-&nbsp;&nbsp;<span>还可邀请{{ doc['invite_count'] }}人</span></div>
        <div class="div-20"></div>
        <table>
        <tr><td width="15%" valign="top">好友邮箱</td>
        <td width="85%"><input type="text" name="email" class="email_textarea" spellcheck="false" /></td></tr> 
        <tr><td colspan="2"><button class="self-intro-button" do="invite_friend">邀请</button><span class="self-info-process">&nbsp;</span></td></tr>
        </table>
        <div class="div-20"></div>
        <div class="div-20"></div>
        {% else %}
        <div class="page_nav"><span>邀请好友</span></div>
        <div class="div-20"></div>
        您已经无邀请名额了！
        <div class="div-20"></div>
        <div class="div-20"></div>
        </div>
        {% end %}

</div>
{% end %}