{% extends "feed-base.html" %}

{% block user_base_right_body %}

{% set blog_list = doc['blog_list'] %}
{% set search_tag = doc['current_tag'] %}


<div id="body_content">

<div class="like blog-img">
<div class="page_name">执笔</div>
<div id="left_div">
<div id="left3_tag_nav" class="margin-left-0" style="">
{#<div id="left3_tag_tag">文章分类：</div>#}
<ul>
{% if search_tag == "default" %}
    <li><a href="/blog-lib?tag=default"  class="current">所有</a></li>
{% else %}
    <li><a href="/blog-lib?tag=default">所有</a></li>
{% end %}
{% for one_tag in doc['tag_list'] %}
    {% if search_tag == one_tag %}
        <li><a href="/blog-lib?tag={{ url_escape(xhtml_unescape(one_tag)) }}" class="current">{{ one_tag }}</a></li>
    {% else %}
        <li><a href="/blog-lib?tag={{ url_escape(xhtml_unescape(one_tag)) }}">{{ one_tag }}</a></li>
    {% end %}
{% end %}
</ul>
</div>
</div>


<div class="div-20"></div>

{% if blog_list %}

      <ul class="like_ul">
      {% for kk in blog_list %}
                    <li>
                        <a href="/blog/{{ kk['aid'] }}" target="_blank">{{ kk['title'] }}</a>
                        <a style="display:none" class="blog_edit hide_a" href="/write?id={{ kk['aid'] }}&edit=true" target="_blank">修改</a>
                        <span class="tag-del hide_span" obj_id="{{ kk['aid'] }}" obj_type="blog" do="remove_article">删除</span>
                    </li>
     {% end %}
     </ul>
    {{ doc['paging_html'] }}

{% else %}
No one
{% end %}
</div>

</div>



{% end %}