{% extends "../user-base.html" %}


{% block css_link %}
 <link rel="stylesheet" type="text/css" href="{{ static_url("css/jquery.Jcrop.css") }}" />
 <link rel="stylesheet" type="text/css" href="{{ static_url("css/me/write.css") }}" />
 <link rel="stylesheet" type="text/css" href="{{ static_url("css/me/book.css") }}" />
  <link rel="stylesheet" type="text/css" href="{{ static_url("css/me/group.css") }}" />
{% end %}


{% block left_page_html %}
{% set subpage = doc['subpage_type'] %}
<div id="page">
<div id="page_title">聚合</div>
<ul>
<li><a href="/afewords-feed"  class="current{{ int(subpage == "feed") }}">动态</a></li>
<li><a href="/blog-lib"  class="current{{ int(subpage == "myself") }}">我的</a></li>
<li><a href="/user-like" class="current{{ int(subpage == "like") }}">喜欢</a></li>
<li><a href="/write" class="current{{ int(subpage == "write") }}">执笔</a></li>
<li><a href="/rss" class="current{{ int(subpage == "rss") }}">RSS</a></li>
{% if subpage == "feedback" %}
<li><a href="/afewords-feedback" class="current1">反馈</a></li>
{% end %}
</ul>
</div>
{% end %}

{# this page for setting #}

{% block user_base_right_body %}

<div id="body_content">

{% block afewords_feed_html %}{% end %}

</div>




{% end %}

{% block script_bottom %}


{% end %}
