{% extends "setting-base.html" %}


{% block setting_html %}

    <div class="like draft margin-left-0">
    <div class="page_nav"><span>草稿</span></div>
    <div class="div-20"></div>
    {% if doc['draft_list'] != [] %}
        <ul>
        {% for kk in doc['draft_list'] %}
            {% if kk['article_type'] == "Blog" %}
                <li>
                <a href="/write?id={{ kk['aid'] }}" class="draft-link" target="_blank">{{ "未完成文章" if kk['title'] == '' else kk['title'] }}</a>
                <span class="draft_time">{{ kk['release_time'][:16] }}</span>
                <a style="display:none" class="draft_del" href="javascript:void(0);" article_id="{{ kk['aid'] }}" type="blog" onclick="do_draft_del(this)" target="_blank">删除</a>
                </li>
            {% elif kk['article_type'] == 'Feedback' %}
                <li><a href="/write?id={{ kk['aid'] }}&type=group-feedback" class="draft-link"  target="_blank">{{ "未完成反馈" if kk['title'] == '' else kk['title'] }}</a><span class="draft_time">{{ kk['release_time'][:16] }}</span>
                <a style="display:none" class="draft_del" href="javascript:void(0);" article_id="{{ kk['aid'] }}" type="feedback" onclick="do_draft_del(this)" target="_blank">删除</a></li>
            {% elif kk['article_type'] == 'Topic' %}
                <li><a href="/write?id={{ kk['aid'] }}&type=group-topic" class="draft-link"  target="_blank">{{ "未完成话题" if kk['title'] == '' else kk['title'] }}</a><span class="draft_time">{{ kk['release_time'][:16] }}</span>
                <a style="display:none" class="draft_del" href="javascript:void(0);" article_id="{{ kk['aid'] }}" type="topic" onclick="do_draft_del(this)" target="_blank">删除</a></li>
            {% else %}
            
            {% end %}
        {% end %}
        </ul>
        {{ doc['paging_html'] }}
    {% else %}
        {% if doc['current_page'] > 1 %}
           已经到最后了
        {% else %}
            草稿箱里没有内容
        {% end %}
    {% end %}
    <div class="div-20"></div>
    </div>


{% end %}
