{% extends "setting-base.html" %}


{% block setting_html %}

    <div class="like draft margin-left-0">
    <div class="page_nav"><span>草稿</span><span class="left20"><a href="javascript:void(0)" >清空</a></span></div>
    <div class="div-20"></div>
    {% if doc['draft_list'] %}
        <ul class="like_ul">
        {% for kk in doc['draft_list'] %}
            {% if kk['article_type'] == "blog" %}
                <li>
                <a href="/write?id={{ kk['aid'] }}" class="draft-link" target="_blank">{{ "未完成文章" if not kk['title'] else kk['title'] }}</a>
                <span class="draft_time">{{ kk['release_time'][:16] }}</span>
                <span class="tag-del hide_span" obj_id="{{ kk['aid'] }}" obj_type="blog" do="remove_article">删除</span>
                </li>
            {% elif kk['article_type'] == 'feedback' %}
                
            {% else %}
            
            {% end %}
        {% end %}
        </ul>
        {{ doc['paging_html'] }}
    {% else %}
        {% if doc['current_page'] > 1 %}
           已经到最后了
        {% else %}
            草稿箱里没有内容
        {% end %}
    {% end %}
    <div class="div-20"></div>
    </div>


{% end %}
