{% extends "setting-base.html" %}

{% block setting_html %}


    <div class="notice">
    <div class="page_nav">
    <span>消息</span>
    <span class="left20"><a href="javascript:void(0);" do="delete_all">清空全部</a></span>
    <span class="left20"><a href="javascript:void(0);" do="read_all">设置已读</a></span></div>
    <div class="div-20"></div>
    {% if doc['notice_list'] != [] %}
    <ul>
    {% for kk in doc['notice_list'] %}
        
        <li index="{{ kk['index'] }}" class="noti-read-{{ int(kk['isread']) }}">{{ kk['content'] }}</li>
        
    {% end %}
    </ul>
    <div class="div-20"></div>
    {{ doc['paging_html']  }}
    {% else %}

    您没有消息
    
    {% end %}
    </div>



{% end %}
