{% extends "setting-base.html" %}

{% block setting_html %}



    <!-- for domain -->
    <div class="like settings margin-left-0">
    <div class="page_nav"><span>个性化</span><span class="domain"><a href="javascript:void(0)" >修改</a></span></div>
    <div class="div-20"></div>
    <div class="my_domain">您的个性化链接为：http://www.afewords.com/user/{{ doc['domain'] }}</div>
    <div></div>
    <div class="div-20"></div>
    <div class="div-20"></div>
    <div class="div-20"></div>
    </div>




{% end %}



