{% extends "setting-base.html" %}



{% block setting_html %}


    <!-- for avatar -->
    <div class="settings">
    <div class="page_nav"><span>头像</span><span class="left20"><a href="javascript:void(0);">上传新头像</a></span></div>
    <table id="avatar_wrap_nav">
    <tr><td width="20%;">裁剪</td><td width="50%">&nbsp;</td><td width="30%" align="center"><button>裁剪</button></td></tr>
    </table>

    {% if doc['avatar_path'] != '' %}
        <table id="avatar_wrap_form">
        <tr>
        <td width="70%" rowspan="2" id="crop-contain">
        <img src="{{ doc['avatar_path'] }}" id="crop-obj" alt="Flowers" />
        </td>
        <td width="30%" align="center">
        <div style="width:120px;height:120px;overflow:hidden;">
        <img src="{{ doc['avatar_path'] }}" id="preview-120" alt="Preview" />
        </div>
        </td>
        </tr>
        <tr>
        <td align="center"><div style="width:50px;height:50px;overflow:hidden;">
        <img src="{{ doc['avatar_path'] }}" id="preview-50" alt="Preview" />
        </div>
        <input type="hidden" name="pos-x" id="pos-x" value="0" />
        <input type="hidden" name="pos-y" id="pos-y" value="0" />
        <input type="hidden" name="pos-w" id="pos-w" value="0" />
        <input type="hidden" name="pos-time" id="pos-time" value="1" />
        </td>        
        </tr>
        </table>
    {% end %}
    <div class="div-20"></div>
    <div class="div-20"></div>
    </div>


{% end %}
