{% extends "setting-base.html" %}

{% block setting_html %}

<!-- for password -->
    <div class="settings margin-left-0">
    <div class="page_nav"><span>密码</span></div>
    <div class="div-20"></div>
    <table>
    <tr><td width="15%" height="40px;">原密码</td><td width="8%"></td><td width="72%"><input type="password" id="self-old-pwd" name="passwd_old"  /></td></tr>
    <tr><td width="15%" height="40px;">新密码</td><td width="8%"></td><td width="72%"><input type="password" id="self-new-pwd" name="passwd_new" /></td></tr>
    <tr><td width="15%" height="40px;">确认密码</td><td width="8%"></td><td width="72%"><input type="password" id="self-pwd-again" name="passwd_new_again" /></td></tr>
    <tr><td colspan="3"><button class="self-intro-button" do="modify_password">确认修改</button><span class="self-info-process">&nbsp;</span></td></tr>
    </table>
    <div class="div-20"></div>
    <div class="div-20"></div>
    </div>

{% end %}
