{% set node_list = doc['node_list'] %}
{% set edit = doc['isedit'] %}
{% set book_id = doc['bid'] %}
{% set nest = 1 %}
{% set normal_li = u'<li node_id="%s"><span class="num">%s</span><span><a href="/book/%s/catalog/%s">%s</a></span>%s%s</li>' %}
{% set edit_li = u'<span class="catalog_edit" do="modify_chapter">修改</span><span class="catalog_del" do="remove_chapter">删除</span></li>' %}
{% set complete_point = u'<span class="complete%s">%s/%s/%s&nbsp;%s</span>' %}

{% if len(node_list) < 1 %} 
    {% if not edit %}
    <ul class="catalog_ul" book_id="{{ book_id }}"></ul>
    {% else %}
    <ul class="catalog_ul catalog_edit1" book_id="{{ book_id }}"></ul>
    {% end %}
{% else %}
    {% if not edit %}
        <ul class="catalog_ul" book_id="{{ book_id }}">
    {% else %}
        <ul class="catalog_ul catalog_edit1" book_id="{{ book_id }}">
    {% end %}
    
    {% for item in node_list %}
    
        {% set tmp_nest = len(item['chapter_num'].split('.')) %}
        
        {% set s_a_c = item["spec_article_count"] %}
        {% set c_n = item['chapter_num'] %}
        {% set title = item['title']  %}
        {% set a_c = item['article_count'] %}
        {% set s_c = item['subcatalog_count'] %}
        {% set cid = item['cid'] %}

        {% set complete_str = complete_point % (int(item['spec_article_count'] > 0), item['spec_article_count'],item['article_count'], item['subcatalog_count'], ('&radic;' if item['spec_article_count'] > 0 else '&times;')) %}

        {% set tmp_normal_li = normal_li % (item['cid'], item['chapter_num'], book_id, item['cid'], item['title'], complete_str, '') %}

        {% set tmp_edit_li  = normal_li % (item['cid'], item['chapter_num'], book_id, item['cid'], item['title'], '', edit_li) %}

        {% if tmp_nest >= nest %}
        
            {% if tmp_nest > nest %}
                {% set nest = nest + 1 %}
                <ul class="margin">
            {% end %}
            
            {% if not edit %}
                {#{{ tmp_normal_li }}#}
                <li chapter_id="{{ cid }}">
                    <span class="num">{{ c_n }}</span>
                    <span><a href="/book/{{ book_id }}/catalog/{{ cid }}">{{ title }}</a></span>
                    <span class="complete{{ int(s_a_c>0) }}">{{ s_a_c }}/{{ a_c }}&nbsp;
                    {% if s_a_c == 0 %} 
                        &times;
                    {% else %}
                        &radic;
                    {% end %}
                    </span>
                </li>
            {% else %}
                {#{{ tmp_edit_li }} #}
                <li chapter_id="{{ cid }}">
                    <span class="num">{{ c_n }}</span>
                    <span><a href="/book/{{ book_id }}/catalog/{{ cid }}">{{ title }}</a></span>
                    <span class="catalog_edit" do="modify_chapter">修改</span><span class="catalog_del" do="remove_chapter">删除</span></li>
                </li>
            {% end %}

        {% else %}
        
            {% for ii in range(nest - tmp_nest) %}
                </ul>
            {% end %}
            
            {% set nest = tmp_nest %}
                
            {% if not edit %}
                {#{{ tmp_normal_li }}#}
                    <li chapter_id="{{ cid }}">
                    <span class="num">{{ c_n }}</span>
                    <span><a href="/book/{{ book_id }}/catalog/{{ cid }}">{{ title }}</a></span>
                    <span class="complete{{ int(s_a_c>0) }}">{{ s_a_c }}/{{ a_c }}&nbsp;
                    {% if s_a_c == 0 %} 
                        &times;
                    {% else %}
                        &radic;
                    {% end %}
                    </span>
                    </li>
                {% else %}
                    {#{{ tmp_edit_li }}#}
                    <li chapter_id="{{ cid }}">
                    <span class="num">{{ c_n }}</span>
                    <span><a href="/book/{{ book_id }}/catalog/{{ cid }}">{{ title }}</a></span>
                    <span class="catalog_edit" do="modify_chapter">修改</span><span class="catalog_del" do="remove_chapter">删除</span></li>
                    </li>
                {% end %}
                
            
        {% end %}
    {% end %}
</ul>
{% if nest != 1 %}
    {% for item in range(nest -1) %}
        </ul>
    {% end %}
{% end %}
        
            

{% end %}
