{% extends "in-base.html" %}

{% block afewords_in_html %}

<div class="follow">
<div class="page_nav"><span>注册</span></div>

<div id="login_do">
<table class="reg">
<tr><td>登陆邮箱</td><td align="left"><input type="text" class="login_mail" name="email" id="login-email" /></td></tr>
<tr><td width="20%">您的姓名</td><td align="left" width="80%"><input type="text" class="login_mail" name="name" id="afewords_token"/>{{ xsrf_form_html() }}</td></tr>
<tr><td>设置密码</td><td align="left"><input type="password" class="login_mail" name="pwd" /></td></tr>
<tr><td>确认密码</td><td align="left"><input type="password" class="login_mail" name="pwd_again" /></td></tr>
<tr><td style="letter-spacing:5px;">验证码</td><td align="left"><input type="text" name="token" class="login_mail" /></td><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td><td align="left"><span id="code_img" class="code_img">
<img src="/code" alt="验证图片" ></span><span class="l-a code_change" onclick="change_code()">更换验证码</span>
</td></tr>
</table>

<div>
<button type="submit" class="login_button">注册</button><span class="login-process"></span>
</div>
</div>
</div>
<script type="text/javascript" >
jQuery(function(){
    var email = jQuery.getQuery("email");
    jQuery("#login-email").val(email);
});
</script>
{% end %}