*{margin: 0;padding: 0;font-size: 14px;border:0;}

body{background: url('/static/img/wrap.png') repeat;font-size: 14px;}
a{text-decoration: none;}


#aside_wrap{background: url('/static/img/side.png') repeat-y;width: 86px;float: left;position: fixed;height: 100%;}
#aside_logo{margin-left: 20px;margin-top: 40px;}
#aside_nav{width: 20px;height: auto;margin-left: 25px;margin-top: 30px;}
#aside_nav ul,li{list-style: none;}
#aside_nav li{margin: 5px 0;}
#aside_nav a{display: inline-block;width: 100%;height: 20px;}
#aside_nav a:hover{box-shadow:0px 0px 3px #fff;}
#aside_nav a.home{background: url('/static/img/button/home_ok.png') no-repeat;}
#aside_nav a.settings{background: url('/static/img/button/settings_ok1.png') no-repeat;}
#aside_nav a.write{background: url('/static/img/button/pencil_ok.png') no-repeat;}
#aside_nav a.feed{background: url('/static/img/button/feed_ok1.png') no-repeat; }
#aside_nav a.logout{background: url('/static/img/button/logout_ok.png') no-repeat; }
#aside_nav a.laboratory{background: url('/static/img/button/laboratory_ok1.png') no-repeat; }
#aside_nav a.login{background: url('/static/img/button/login_ok1.png') no-repeat;}
#aside_nav a.reg{background: url('/static/img/button/sign-up_ok1.png') no-repeat;}

#aside_nav ul.nav_wrap{margin-left: 49px;min-height: 100px;min-width: 100px;position: absolute;margin-top: -45px;
line-height: 30px;display: none;}
ul.nav_wrap li{line-height: 26px;height: 26px;width: auto !important;
background: url('/static/img/nav_right.png') no-repeat right top;min-width: 10px;float: left;padding-right: 16px;}
ul.nav_wrap li a{border:black 1px solid;border-left:none;border-right:none;line-height: 24px;background-color: red;width: auto !important;
padding: 0 10px;color: white;height: 24px !important;}
ul.nav_wrap li a:hover{box-shadow:none !important;}


#container_wrap{width: 100%;float: right;min-height: 100px;}
#container{clear: both;min-height: 100px;width: 90%;margin: 0 auto; text-align: center;padding-left: 86px;}

#module{position: absolute;top: 34px;right: 30px;width: 70px;height: 70px;background-color: #A66F00;border:#ccc 1px dotted;
border-radius:35px;line-height: 70px;text-align: center;color: white;font-size: 16px;}

#middle{width: 90%;min-height:100px ;position: relative;margin: 0 auto;text-align: center;}
#middle_left{width: 75%;float: left;min-height: 300px;margin: 0 1% 0 2%;}
#middle_right{width: 20%;float: right;min-height: 200px;margin: 0 1%;}


#m_r_nav{width: 40%;margin: 0 auto;text-align: center;background-color: #fff;border:#ccc 1px solid;padding: 20px;margin-top: 50px;}
#m_r_nav ul,li{list-style: none;width: 100%;line-height: 40px;}
#m_r_nav ul,li a{color: black;display: inline-block;width: 100%;}
#m_r_nav li{border-bottom:#ccc 1px dotted;}
#m_r_nav li a:hover{background: #a66f00;color: white;}
#m_r_nav li a.current1{background-color: #a66f00;color: white;}

#middle_body{margin-top: 50px;min-height: 1000px;
background-color: #ffffff;border:#ccc 1px solid;text-align: left;padding: 2%;float: left;clear: both;width: 96%;}



/******** for bloger **************/
#bloger_title{font-size: 40px;width: 100%;float: left;text-align: left;line-height: 50px;margin-top: 50px;color:#626262;
font-weight: bold;}

#bloger_class{width: 100%;float: left;text-align: left;margin-top: 20px;}
#bloger_class a.one_class{min-width: 40px;float: left;height: 25px;background-color: #fff;line-height: 25px;
text-align: center;border:#ccc 1px dotted;border-radius:15px;padding: 5px 10px;margin: 5px;}
#bloger_class a.one_class:hover{background-color: #a66f00;color: white;}
#bloger_class a.one_class.current1{background-color: #a66f00;color: white;}

#all_nav{width: 100%;float: left;}
#all_nav #nav_title{width:auto;padding: 3px 15px;background-color: black; float: left;color: white;}

