{% extends "../user-base.html" %}


{% block css_link %}
 <link rel="stylesheet" type="text/css" href="{{ static_url("css/jquery.Jcrop.css") }}" />
 <link rel="stylesheet" type="text/css" href="{{ static_url("css/me/write.css") }}" />
 <link rel="stylesheet" type="text/css" href="{{ static_url("css/me/book.css") }}" />
  <link rel="stylesheet" type="text/css" href="{{ static_url("css/me/group.css") }}" />
{% end %}


{% block left_page_html %}
{% set subpage = doc['subpage_type'] %}
<div id="page">
<div id="page_title">知识谱</div>
<ul>
<li><a href="/afewords-book"  class="current{{ int(subpage == "index") }}">知识谱</a></li>
<li><a href="/user-book" class="current{{ int(subpage == "myself") }}">我的</a></li>
<li><a href="/book-create" class="current{{ int(subpage == "create") }}">新建</a></li>
</ul>
</div>
{% end %}

{# this page for setting #}

{% block user_base_right_body %}

<div id="body_content">

{% block afewords_book_html %}{% end %}

</div>




{% end %}

{% block script_bottom %}

<script type="text/javascript" src="{{ static_url("js/jq/jquery.Jcrop.min.js") }}" ></script>
<script type="text/javascript" src="{{ static_url("js/me/login.js") }}" ></script>
<script type="text/javascript" src="{{ static_url("js/me/write.js") }}" ></script>

{% end %}
