{% extends "book-base.html" %}


{% block afewords_book_html %}


<div class="like settings my_book_image">
    <div class="page_nav"><span>新建</span></div>
    <div class="book_create">
    <table summary="" id="book_create_table" >
    <tr><td width="10%" align="center">知识谱名</td><td width="90%"><input type="text" class="g_c_name" name="name" /></td></tr>
    
    <tr><td align="center" style="letter-spacing:4px;">关键词</td><td><input type="text" class="g_c_name" name="keywords" />&nbsp;<span>多个请用，分开</span></td></tr>
    <tr><td>&nbsp;</td>
    <td><button id="book_create_button" do="create_book">提交</button><span class="g_c_process">&nbsp;</span></td></tr>
    </table>
    </div>
    </div>

{% end %}