{% extends "book-base.html" %}


{% block user_base_right_body %}
{% set book = doc['book'] %}
{% set edit_type = doc['edit_type'] %}
<div id="body_content">

<div class="like settings margin-left-0 my_book_image body_content_book">
<div class="page_nav"><span>审校</span></div>

<ul id="body_con_nav">
    <li class="tip"><a href="/book/{{ book['bid'] }}" >{{ book['name'] }}</a></li>
    <li class="tip">：</li>
    <li><a href="/write?id={{ book['bid'] }}&type=about" class="current{{ int(edit_type=="about") }}">摘要</a></li>
    <li><a href="/book-edit/{{ book['bid'] }}/catalog" class="current{{ int(edit_type=="catalog") }}">目录</a></li>
    <li><a href="/book-edit/{{ book['bid'] }}/invite"  class="current{{ int(edit_type == "invite") }}">编者</a></li>
</ul>

<div id="book_wrap">

{% block afewords_book_html %}{% end %}
</div>

</div>
</div>

{% end %}