{% extends "book-base.html" %}

{% block afewords_book_html %}

{% set book_list = doc['book_list'] %}

<div class="like settings my_book_image">
    <div class="page_name">审校</div>
    <div class="book_card_wrap">
    {% if not book_list  %}
    您没有知识谱
    {% else %}
        {% for item in book_list %}
        
            <div class="book_card_one">
            <p class="book_name_p"><a href="/book/{{ item['bid'] }}"> {{ item['name'] }}</a></p>
            <p><span class="book_one_proc">进度：{{ item['complete_rate'] }}%({{item['complete_count']}}/{{item['all_catalog_count']}})</span>
                <span class="book_one_time">最近更新：{{ str(item['update_time'])[:10] }}</span></p>
            <p>
            <a href="/write?id={{ item['about_id'] }}&type=about" class="book_one_modify">编辑摘要</a>
            <a href="/book-edit/{{ item['bid'] }}/catalog" class="book_one_modify">管理目录</a>
            <a href="/book-edit/{{ item['bid'] }}/invite" class="book_one_modify">管理编者</a>            
            <a href="/book-edit/{{ item['bid'] }}/info" class="book_one_modify">管理信息</a>
            {% if 'o' in item['permission'] %}
            <a href="javascript:void(0)" class="book_one_modify book_one_del" do="remove_book" obj_id="{{ item['bid'] }}" obj_type="book">删除</a> 
            {% end %}
            </p>
            </div>
            
        {% end %}   
    {% end %}
    
    </div>
    {{ doc['paging_html'] }}
    </div>
    
{% end %}