{% extends "book-base.html" %}


{% block user_base_right_body %}
{% set book = doc['book'] %}
{% set edit_type = doc['edit_type'] %}
<div id="body_content">

<div class="like settings margin-left-0 my_book_image">
<div class="page_nav"><span>审校 >> <a href="/book/{{ book['bid'] }}" >{{ book['name'] }}</a></span></div>

<ul id="body_con_nav">
    <li class="tip">管理：</li>
    <li><a href="/book-edit/{{ book['bid'] }}/about" class="current{{ int(edit_type=="about") }}">摘要</a></li>
    <li><a href="/book-edit/{{ book['bid'] }}/catalog" class="current{{ int(edit_type=="catalog") }}">目录</a></li>
    <li><a href="/book-edit/{{ book['bid'] }}/invite"  class="current{{ int(edit_type == "invite") }}">编者</a></li>
</ul>


{% block afewords_book_html %}{% end %}

</div>
</div>

{% end %}