

#left4{width: 800px;float: left; z-index: 3;position: relative;border-right: #ccc 0px solid;min-height: 300px;}

#left4_nav_top{width: 100%;float: left;height: auto;position: relative;padding-bottom: 40px;margin-top: 30px;}
#left4_nav_top .bottom_line{position: absolute;width: 90%;left: 0px;height: 40px;border:#a10 1px solid;border-top:none;border-bottom:none;
bottom: 0px;border-right: none;}
#left4_nav_top .top_con{min-width: 10%;border-bottom:#a10 1px solid;display: inline-block;padding: 0 10px;text-align: center;
font-size: 16px;font-weight: bolder;color: #A10;}


#left4_nav{width: 100%;float: left;border-bottom: #a10 1px solid;border-top: #a10 1px solid;}
#left4_nav ul{list-style-type: none;line-height: 40px;float: left;padding-left: 15px;}
#left4_nav ul li{float: left;padding: 0 5px;}
#left4_nav ul li a{font-size: 16px !important;line-height: 40px;display: block;padding: 0 20px;
border:#ffffff 2px solid;color: black;}
#left4_nav ul li a:hover{border-bottom-color: #F5D0A9;border-top-color: #F5D0A9;text-decoration: none;background-color: #F5D0A9;}
#left4_nav ul li a.current1{color: black;border-bottom-color: #a10;color: #000;background-color: #f5d0a9;
 border-top-color: #a10;}
 
 



#left_div{width: 100%;float: left;}
#left4_tag_tag{float: left;min-width: 10px;border-left:#a10 1px dotted;line-height: 35px;padding: 0 10px;
color: #999;border-bottom: #a10 1px dotted;font-size: 14px;}
#left4_tag_nav{float: left;margin-top: 0px;margin-left: 20px;}
#left4_tag_nav ul{list-style-type: none;line-height: 33px;float: left;}
#left4_tag_nav ul li{float: left;padding: 0 15px;border-bottom: #a10 1px dotted;}
#left4_tag_nav ul li a{font-size: 14px !important;line-height: 33px;display: block;border-bottom: #fff 2px dotted;color: #999;}
#left4_tag_nav ul li a:hover{border-bottom: #a10 2px solid;text-decoration: none;}
#left4_tag_nav ul li a.current{color: black;border-bottom: #a10 2px solid;}



#left4_board{width: 100%;float: left;height: auto;position: relative;padding-top: 10px;padding-bottom: 10px;}
#left4_board .top_line{position: absolute;width: 80%;left: 20px;height: 40px;border:#a10 1px dotted;border-top:none;border-bottom:none;
top: 0px;border-right: none;}
#left4_board .board_con{width: 90%;margin: 0 1%;border:#a10 1px dotted;padding: 2%;height: auto;float: left;position: relative;
background-color: #ffffff;}
#left4_board .board_con span{float: left;display: inline-block;margin-right: 20px;color: blue;}
#left4_board .board_con span a{color: blue;float: left;}
#left4_board .board_con span a.del_tag{margin-left: 10px;color: red;font-size: 12px;display: none;}
#left4_board .board_con span.add_tag{position: absolute;right: -10px;top: 0;font-size: 12px;}
#left4_board .board_con span.add_tag a{font-size: 12px;}



#body_content .group_content{width: 90%;float: left;margin: 0 1%;border:#a10 1px dotted;padding:2%;margin-top: 20px;
margin-bottom: 30px;position: relative;min-height: 100px;padding-top: 40px;background-color: #ffffff;}

.group_content .group_nav{position: absolute;top: 10px;left: 2%;height: 30px;width: 96%;line-height: 30px;text-indent: 25px;
border-bottom: #ccc 1px dotted;}



.group_content .group_nav .group_nav_right{float: right;cursor: pointer;color: blue;}
.group_nav_right a{color: blue;font-size: 12px;}
.group_nav_none{background: none !important;text-indent: 10px !important;}
.group_nav_img_right{background-position:top right !important;text-indent: 10px !important;height: 40px !important;
line-height: 40px !important;font-size: 16px;font-weight: bolder;overflow: hidden;border-bottom-style: dashed !important;}
.group_nav_title{font-size: 24px;line-height: 40px;}

.group_topic_con{margin-top: 20px;float: left;width: 96%;padding-left: 10px;padding-right: 10px;padding-bottom: 50px;}
.group_topic_edit{position: absolute;top: 60px;right: 20px;}
.group_topic_edit a{color: blue;font-size: 12px;}

.g_t_b_b_wrap{margin-top: 20px !important;border-top:#ccc 1px dotted;padding-top: 10px;background-color: #f8f8f8;
padding-bottom: 10px;}



.group_content .group_topic_img{background:url('/static/img/button/topic_ok.png') no-repeat 0 5px;}
.group_content .group_board_img{background: url('/static/img/button/board_ok.jpg') no-repeat 0 6px;}
.group_content .group_notice_img{background: url('/static/img/button/board_ok.jpg') no-repeat 0 6px;}
.group_content .group_member_img{background: url('/static/img/button/member.jpg') no-repeat 0 5px;}
.group_content .group_doc_img{background: url('/static/img/button/dir_ok.png') no-repeat 0 7px;}
.group_content .group_feedback_img{background: url('/static/img/button/communication_ok.png') no-repeat 0 5px;}
.group_content .group_info_img{background: url('/static/img/button/about.png') no-repeat 0 7px;}
.group_content .group_write_img{background: url('/static/img/button/pencil_ok1.png') no-repeat 0 7px;}

.group_content table{width: 100%;}
.group_content table th,td{font-weight: normal;border-bottom: #ccc 1px dotted;line-height: 30px;}
.group_content table th{color: #666;}


.group_content table td{color: #666;} 
.group_content table td a{color: blue;}
#right4{width: 200px;float: right;height: auto;}
#right4 .group_logo{float: left;width: 198px;margin-top: 30px;border:#a10 1px solid;position: relative;background-color: #ffffff;}
#right4 .group_logo img{width: 150px;height: 150px;margin: 25px;float: left;margin-bottom: 0;border:#f1f1f1 1px solid;}
#right4 .group_logo .group_name{width:150px;float: left;margin: 10px 25px 0 25px;text-align: center;}
#right4 .group_logo .group_control{float: left;margin-left: 25px;width:150px;text-align: center;margin-top: 10px;}
#right4 .group_logo .group_control span{font-size: 12px;padding: 0 10px;color: #999;cursor: pointer;}
#right4 .group_logo .group_control span a{color: #369;font-size: 12px;}
#right4 .group_logo .group_logo_set{position: absolute;top: 0;right: 10px;}
#right4 .group_logo .group_logo_set a{color: blue;font-size: 12px;}

.my_group_one{width: 100%;float: left;height: auto;margin-top: 30px;}
.my_group_one .m_g_o_nav{height: 40px;width: 100%;float: left;background-color: #f8f8f8;}
.m_g_o_nav img{float: left;width: 39px;height: 38px;border:#f8f8f8 1px solid;border-right:none;}
.m_g_o_title{line-height: 40px;padding-left: 10px;float: left;height: 40px;max-width: 70%;overflow: hidden;}
.m_g_o_title a{color: black;font-size: 16px;}
.my_group_one .m_g_o_con{height: auto;width: 93%;float: left;padding-left: 7%;}

.m_g_o_con table{float: left;width: 100%;border:0;}
.m_g_o_con table tr{height: 30px;}
.m_g_o_con table td a{max-width: 75%;color: #369;display: inline-block;float: left;height: 30px;overflow: hidden;}
.m_g_o_con table td span{color: #bbb;margin-left: 10px;display: inline-block;float: left;}
.m_g_o_con table td.time{color: #bbb;text-align: right;}


.group_lib{width: 88%;
float: left;
margin-left: 20px;
border: #AAA 1px dotted;
padding: 35px 20px 20px 20px;
margin-top: 20px;
position: relative;
background: url('/static/img/button/settings_ok.png') 20px 10px no-repeat;background-color: #ffffff;
min-height: 100px;}



.group_card{width: 100%;float: left;height: auto;margin-top: 20px;margin-bottom: 10px;border:#ccc 1px dotted;}
.group_card img{width: 80px;height: 80px;float: left;margin-left: 10px;border:#ccc 1px dotted; margin-top: 10px;}
.group_card .g_c_name{width: 80px;float: left;min-height: 30px;clear: left;text-align: center;margin-left: 10px;}
.group_card .g_c_name a{color: blue;}
.group_card .g_c_right{width: 83%;float: right;min-height: 80px;margin: 10px 0 0px 0;clear: right;padding-right: 2%;
border-left:#ccc 1px dotted;padding: 0 10px;}
.group_card .g_c_detail{float: left;width: 100%;min-height: 80px;}
.group_card .g_c_control{float: left;width: 100%;}

.g_c_control span{float: left;color: #666;margin-right: 20px;}
.g_c_control span a{color: #369;font-size: 12px;}
.g_c_control span.follow_group{float: right;color: #369;font-size: 12px;cursor: pointer;}


.group_create{width: 100%;float: left;height: auto;margin-top: 20px;margin-bottom: 60px;}
.group_create_note{color: #666;}

.group_create table{width: 100%;margin-top: 20px;}
.group_create table tr{min-height: 80px;}
.group_create table td{border-bottom: none;padding: 10px 0;}
.group_create .g_c_name{width: 50%;padding: 5px;}
.group_create .g_c_des{width: 70%;resize:none; height: 200px;padding: 5px;float: left;clear: both;}
.group_create .g_c_process{color: black;margin-left: 20px;width: 60%;height: 40px;line-height: 40px;}

.group_create div.inline{float: left;display: inline-block;}





.like_style{list-style-type: none;line-height: 25px;margin: 0 0 30px 0;width: 100%;float: left;}
.like_style li{width: 90%;padding: 10px 8% 10px 2%;
float: left;border-bottom: #ccc 1px dotted;padding-left: 2%;position: relative;padding-right: 8%;vertical-align: middle;
}
.like_style li a{font-size: 14px; color: blue;float: left;}
.like_style li a:hover{ color: blue;}
.like_style .like_cancel{font-size: 12px;color: red;cursor: pointer;position: absolute;top: 12px;right: 10px;}
.like_style .like_cancel:hover{text-decoration: underline;}


.notice_style{list-style-type: none;float: left;margin: 10px 0 0px 0;}
.notice_style li{float: left;margin-right: 30px;}
.notice_style li a{color: blue;}



.group_write_area{float: left;width: 100%;}
#group_write_title{float: left;float: left;
outline: 0;
border: #CCC 1px solid !important;
width: 100%;
height: 40px;
font-size: 18px;
text-align: center;
font-weight: bolder;
box-shadow: 3px 3px 2px #f3f3f3;
margin-top: 20px;
line-height: 40px;}




#group_write_class{float: left;margin-top: 10px;width: 100%;}
#group_write_class label{margin-right: 10px;}




#group-nav{float: left;margin-left: 50px;margin-top:50px;min-width: 120px;}
#group-nav span{display: block;line-height: 30px;width: 100%;text-align: center;border-bottom: #a10 1px dotted;}
#group-nav span a{color: black;font-size: 14px;}
#group-nav span a:hover{color: blue;}

#group-des{width: 95%;float: left;min-height: 100px;background-color: #fff6ed;padding: 20px;border:#FAEFE3 1px solid;}


.group_name_link{margin-left: 3px;margin-right: 3px;color: blue;}




#group-thing{width: 100%;float: left;min-height: 100px;background-color: #fff;margin-top: 20px;}
#group-nav-bar,#group-nav-bar-r{width: 100%;float: left;min-height: 30px;border-bottom: #ccc 1px dotted;color: #060;font-size: 14px;}
#group-nav-bar-r{border:0;text-align: right;}
#group-nav-bar a{font-size: inherit;color: #060;}

#group-topic{width: 100%;float: left;min-height: 30px;background-color: #fff;margin-top: 20px;}
#group-topic table{width: 100%;border-spacing: 0;}
#group-topic table tr{line-height: 25px;}
#group-topic table td{border-bottom: 1px dashed #DDD;padding: 3px 3px 3px 0;font-size: 15px !important;word-break: keep-all;
white-space:nowrap;text-overflow:ellipsis;  overflow:hidden;}
#group-topic th,td{display: table-cell;vertical-align: inherit;}
#group-topic table a{color: #039;font-size: 14px;}
#group-topic table a:hover{color: #a10;}
#group-topic table td.time{text-align: right;color: #666;white-space: -webkit-nowrap;font-size: 12px;}
#group-topic table td.reply{text-align: center;white-space: -webkit-nowrap;font-size: 12px;}
#group-topic table td.author{text-align: center;white-space: -webkit-nowrap;}

.g-t-text{width: 96%;float: left;height: 25px;line-height: 25px;padding: 5px;}
.g-t-textarea{width: 96%;float: left;resize:none;height: 400px;padding: 5px;spellcheck:none;}


.group-color{color: #060 !important;font-size: 14px;}
.group-write-link{min-width:80px;height: 25px;line-height: 25px;background: #f4f4f4;padding: 2px 3px; color:#060;font-size: 14px; 
border:1px solid #e1e1e1;margin-top: 5px;float: right;text-align: center;}


#g-nav{width: 100%;float: left;border-bottom: #ccc 1px dotted;line-height: 30px;color: #060;font-size: 14px;}

#g-con{width: 100%;float: left;min-height: 40px;margin-top: 20px;margin-bottom: 20px;}

#g-input{height: 25px;line-height: 25px;width: 350px;float: left;padding: 5px;}
#g-textarea{width: 98%;height: 350px;float: left;resize:none;padding: 10px;margin-bottom: 20px;}
#g-button{width: 150px;height: 45px;border:#ccc 1px solid;color: #777;float: left;}
#g-button:hover{color: #060;}

.g-but-border{border:#ccc 1px solid;}
.g-but-border:hover{color: #060;}



.self-upload-process{font-size: 14px;}
#crop-process{font-size: 14px;padding-top: 40px;}
.g-create-process{float: left;font-size: 14px;height: 40px;line-height: 40px;margin-left: 20px;}
